*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}

.navigation{
    position: relative;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transition-delay: .8s;
}
.navigation.active{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}

.navigation span{
    position: absolute;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
    transition: transform .5s, width .5s, height .5s, background .5s;
    transition-delay: calc(.1s * var(--i));
}
.navigation.active span{
    width: 45px;
    height: 45px;
    background: #333849;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.navigation span ion-icon{
    transition: .5s;
    font-size: 0em;
}

.navigation.active span ion-icon{
    font-size: 1.35em;
    color: #fff;
}
.navigation.active span:hover ion-icon{
    color: #2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) 
     drop-shadow(0 0 5px #2dfc52)
     drop-shadow(0 0 15px #2dfc52);
}