body {
  padding: 0;
  margin: 0;
}
.container {
  font-family: "Poppins", sans-serif;
  height: 6.25em;
  width: 12.5em;
  background: linear-gradient(to right, #4b4b4b, #111111);
  border-radius: 12.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: inset 0.9em 0 0.9em #171717;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s;
}
input[type="radio"] {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}
label {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .container {
    font-size: 1.5em;
  }
}
