@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body 
{
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}
header 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logo 
{
  color: #112434;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
.navigation 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navigation li 
{
  list-style: none;
}
.navigation li a 
{
  text-decoration: none;
  padding: 6px 15px;
  color: #112434;
  border-radius: 20px;
}
.navigation li a:hover ,
.navigation li a.active
{
  background: #112434;
  color: #fff;
}
.parallax 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parallax img 
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
#text 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  color: #112434;
}
.sec 
{
  position: relative;
  padding: 100px;
  background: #112434;
}
.sec h2 
{
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}
.sec p 
{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}