@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.contact 
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #222;
}
.contact .content 
{
	max-width: 800px;
	text-align: center;
}
.contact .content h2 
{
	font-size: 3em;
	color: #fff;
	font-weight: 500;
}
.contact .content p 
{
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}
.container 
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-top: 30px;
}
.container .contactInfo 
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box 
{
	position: relative;
	padding: 20px 0;
	display: flex;
	cursor: pointer;
}
.container .contactInfo .box .icon 
{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75em;
	transition: 0.5s;
}
.container .contactInfo .box:hover .icon 
{
	background: #00bcd4;
	color: #fff;
}
.container .contactInfo .box .text 
{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 1.1em;
	color: #fff;
	font-weight: 300;
}
.container .contactInfo .box .text h3 
{
	font-weight: 500;
	color: #00bcd4;
}
.container .contactInfo .txt
{
	color: #fff;
	margin-top: 50px;
	font-weight: 500;
	padding-left: 10px;
	border-left: 50px solid #e91e63;
	line-height: 1em;
}
.sci 
{
	position: relative;
	display: flex;
	gap: 30px;
	margin: 20px 0;
}
.sci li 
{
	list-style: none;
}
.sci li a 
{
	color: #fff;
	font-size: 2em;
	transition: 0.5s;
}
.sci li a:hover 
{
	color: #00bcd4;
}


.container .contactForm
{
	position: relative;
	width: 40%;
	background: #fff;
	min-height: 100px;
	padding: 60px;
} 
.container .contactForm h2 
{
	font-size: 2em;
	color: #333;
	font-weight: 500;
}
.container .contactForm .inputBox 
{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.container .contactForm .inputBox input, 
.container .contactForm .inputBox textarea 
{
	width: 100%;
	padding: 5px 0;
	font-size: 1.1em;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.container .contactForm .inputBox span 
{
	position: absolute;
	left: 0;
	pointer-events: none;
	padding: 5px 0;
	margin: 10px 0;
	font-size: 1.1em;
	color: #666;
	transition: 0.5s;
}
.container .contactForm .inputBox input:focus ~ span, 
.container .contactForm .inputBox textarea:focus ~ span,
.container .contactForm .inputBox input:valid ~ span, 
.container .contactForm .inputBox textarea:valid ~ span 
{
	color: #e91e63;
	font-size: 0.9em;
	transform: translateY(-20px);
}
.container .contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 1.1em;
	font-weight: 500;
}

/* lets make it responsive */
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.container .contactInfo,
	.container .contactForm
	{
		width: 100%;
	}
	.container .contactForm
	{
		padding: 50px 30px;
	}
}